body {
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
    background-color: rgb(255, 255, 255);
}

a {
    color: #000000;
    text-decoration: none;
}

.top-sale {
    background-color: #1F2C53;
    color: #FFFFFF;
    margin: 0;
    padding: 0px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.hidden {
    visibility: hidden;
}

.close {
    cursor: pointer;
}

.material-icons-outlined.md-36 {
    font-size: 30px;
    cursor: pointer;
}

.icon-group {
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: space-between;
}

.name {
    width: fit-content;
    margin: 0px auto 20px auto;
    background: linear-gradient(to right, #00608d, #01075a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
}

/*Tabs*/

.head {
    margin: 10px auto 50px auto;
    height: 50px;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media only screen and (max-width: 1200px) {
    .head {
        display: none;
    }
}

.current-page {
    border-bottom: solid 2px black;
}

.arrow {
    border: solid black;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(-45deg) translate(4px 2px);
    -webkit-transform: rotate(-45deg) translate(4px, 2px);
    transition: transform 0.5s;
}

.b1:hover .a1 {
    transform: rotate(45deg) translate(2px -7px);
    -webkit-transform: rotate(45deg) translate(2px, -7px);
}

.b2:hover .a2 {
    transform: rotate(45deg) translate(2px -7px);
    -webkit-transform: rotate(45deg) translate(2px, -7px);
}

.b3:hover .a3 {
    transform: rotate(45deg) translate(2px -7px);
    -webkit-transform: rotate(45deg) translate(2px, -7px);
}

.b4:hover .a4 {
    transform: rotate(45deg) translate(2px -7px);
    -webkit-transform: rotate(45deg) translate(2px, -7px);
}

.b5:hover .a5 {
    transform: rotate(45deg) translate(2px -7px);
    -webkit-transform: rotate(45deg) translate(2px, -7px);
}

/*Dropdown Menu*/

.dropbtn {
    font-size: 18px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.btn:hover {
    cursor:pointer;
    /*border-bottom: solid 2px black; Add this if you want*/
}

.dropdown-content {
    display: none;
    position: fixed;
    left: 0px;
    width: 100vw;
    padding-bottom: 18px;
    border-bottom: solid 2px #666666;
    background-color: #FFFFFF;
}

.dropdown-content-special {
    display: none;
    position: absolute;
    left: -0.25vw;
    width: max-content;
    background-color: #FFFFFF;
  }

.dropdown-format {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-content-special {
    display: block;
}

.droptext {
    font-size: 16px;
    color: #666666;
}

/*End dropdown styling*/