body {
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
    background-color: rgb(240, 240, 240);
    color: #1F2C53; /*idk if you want this*/
}

a {
    color: #1F2C53;
    text-decoration: none;
}

.name {
    width: fit-content;
    margin: 50px auto 30px auto;
    background: linear-gradient(to right, #208dc0, #1724da);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 64px;
}


/*Tabs*/

.head {
    margin: 20px auto;
    height: 50px;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media only screen and (max-width: 1200px) {
    .head {
        display: none;
    }
}

.current-page {
    border-bottom: solid 2px black;
}

.arrow {
    border: solid black;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(-45deg) translate(4px 2px);
    -webkit-transform: rotate(-45deg) translate(4px, 2px);
    transition: transform 0.5s;
}

.b1:hover .a1 {
    transform: rotate(45deg) translate(2px -7px);
    -webkit-transform: rotate(45deg) translate(2px, -7px);
}

.b2:hover .a2 {
    transform: rotate(45deg) translate(2px -7px);
    -webkit-transform: rotate(45deg) translate(2px, -7px);
}

.b3:hover .a3 {
    transform: rotate(45deg) translate(2px -7px);
    -webkit-transform: rotate(45deg) translate(2px, -7px);
}

/*Dropdown Menu*/

.dropbtn {
    font-size: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.btn:hover {
    cursor:pointer;
    /*border-bottom: solid 2px black; Add this if you want*/
}

.dropdown-content {
    display: none;
    position: fixed;
    left: 0px;
    width: 100vw;
    border-top: solid 2px #1F2C53;
    border-bottom: solid 2px #1F2C53;
}

.dropdown-format {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.droptext {
    font-size: 16px;
}

/*End dropdown styling*/